body {
    width: 70%;
    margin: auto;
    background-color: #3C3C3C;
}

.header{
    background-color: #EDC709;
    padding: 10px;
    text-align: center;
}

.header div{
/*     border: 1px solid; */
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.header div:last-child{
    text-align: left;
    line-height: 20px;
}


.header h1{
    font-family: 'Montserrat',sans-serif;

}

.header img{
    width: 250px;
    border-radius: 10px;
    margin-top: 20px;
}


.header p{
    font-family: 'Mulish', sans-serif;
}

.header p strong{
    color: #F44E5E;
}

ul{
    background-color: #EDC709;
}

.nav{
    line-height: 50px;
    text-align: center;

}

.nav a{
    color: #EDC709;
    text-decoration: none;
}


.nav li{
    font-size: 20px;
    display: inline-block;
    height: 50px;
    margin: 2px 20px;
    background-color: #3C3C3C;
    padding: 0 5px;
}

.nav li:hover{
    background-color: #F44E5E;
}

#skills ul{ 
    padding: 2px;
}

#skills